apiVersion: karpenter.sh/v1alpha5
kind: Provisioner
metadata:
  name: default
spec:
  limits:
    resources:
      cpu: 1k
  providerRef:
    name: default
  requirements: |
    ${karpenter_requirements_yaml}
  ttlSecondsAfterEmpty: 30
